[data-theme="default"] {
    --container-bg-color: #fff;
    --container-border-color: #fff;
    --bg-color: #444;
    --link-color: #222;
    --font-color: #111;
}

[data-theme="dark"] {
    --container-bg-color: #fff;
    --container-border-color: #fff;
    --bg-color: #444;
    --link-color: #222;
    --font-color: #111;
}